<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tile Shift</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
    <script src="tilegame.js"></script>
    <!-- <link rel="icon" type="image/png" href="/images/favicon.png">  cannot get favicon to work -->
</head>

<body>
	<div id="logo-container">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
    </div>

	<div id="score-container">
		<label>new high score!</label><br><br> <!-- put this in an if else! -->
		<label class="scorelabel">your score</label><br>
		<label class="scorenum">57</label><br><br> <!-- use inner html to edit -->
		<label class="scorelabel">your high score</label><br>
		<label class="scorenum">57</label><br><br> <!-- use inner html to edit -->
		<a href="/"><button type="button" id="newgame">new game</button></a>
	</div>
</body>

</html>
