<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tile Shift</title>
	<link rel="stylesheet" href="/style.css" type="text/css">
    <script src="tilegame.js"></script>
    <link rel="icon" type="image/png" href="/images/favicon.png">
</head>

<body>
	<div id="logo-container">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
    </div>

	<div id="score-container">
		<label><%- highscoremsg %></label><br><br>
		<label class="scorelabel">your score</label><br>
		<label class="scorenum"><%- yourscore %></label><br><br> 
		<label class="scorelabel">your high score</label><br>
		<label class="scorenum"><%- highscore %></label><br><br>
		<a href="/"><button type="button" id="newgame">new game</button></a><br><br>
		<div id="funfact">fun fact: <br> <%- funfact %></div>
	</div>	
</body>

</html>
