<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8"/>
	<title>Tile Shift</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script src="tilegame.js"></script>
    <!-- <link rel="icon" type="image/png" href="/images/favicon.png">  cannot get favicon to work -->
</head>

<body>
    <!-- background color #1A1423, background of div #352D40, accent color #8E76B0, text colors #BFB1D2 #ECE2D0 -->

    <div id="logo-container">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
    </div>
    
    <div id="form-container">
        <form action="/" method="post">
            <label>username</label><br>
            <input type="text" name="username"/>
            <br><br>
            <label>grid size</label>
            <br>
            <label class="labelText">
            <input type="radio" name="gridsize" value="3by3">
            3x3</label>
            <label class="labelText">
            <input type="radio" name="gridsize" value="4by4">
            4x4</label>
            <label class="labelText">
            <input type="radio" name="gridsize" value="5by5">
            5x5</label>
            <br><br>
            <label>picture</label>
            <br>
            <label class="labelText">
            <input type="radio" name="level" value="easy">
            easy</label>
            <label class="labelText">
            <input type="radio" name="level" value="normal">
            normal</label>
            <label class="labelText">
            <input type="radio" name="level" value="hard">
            hard</label>
            <br><br>
            <input type="submit" value="start game"/>
        </form>
    </div>
</body>

</html>
